@import "../../index.scss";

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba($main-color, $alpha: 0.2);

  .chat-welcome__message {
    text-align: center;
    margin: 20px 0 50px 0;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.412);
    padding: 15px 0 25px 0;
    .welcome-message {
      font-size: 30px;
      color: rgba(128, 128, 128, 0.618);
    }
    p {
      color: rgba(128, 128, 128, 0.618);
    }
  }

  .text-area {
    width: 70%;
    height: 70%;

    overflow: scroll;
    margin-top: 25px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .send-form {
    margin-top: 25px;
    display: flex;
    align-items: center;

    .send-btn {
      outline: none;
      border: none;
      width: 45px;
      height: 45px;
      background-color: $main-color;
      border-radius: 50%;
      font-size: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s;
    }

    .send-input {
      border: none;
      height: 60px;
      width: 400px;
      resize: none;
      border-radius: 10px;
      padding: 0 10px;
      margin-right: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .send-input:focus {
      outline: none;
    }

    .send-btn:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
}

@media screen and (max-width: 700px) {
  .chat-container {
    .text-area {
      width: 100%;
    }
  }
  .send-form {
    .send-input {
      width: 250px !important;
    }
  }
}
